<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="header">
    <nav class="border-gray-200 dark:bg-gray-900 ">
        <div class="grid grid-cols-4 items-center place-content-between justify-between mx-12 p-2">
            <div class="col-start-1 col-span-2">
              <a href="/home" class="flex items-center space-x-2 rtl:space-x-reverse">
                <img src="/images/svg/logo-no-background.svg" class="h-12" alt="AuthInTheGator Logo"/>
              </a>
            </div>
            <div class="col-start-4 col-span-1 items-start justify-self-end">
              <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="authUser-menu-button" aria-expanded="false" data-dropdown-toggle="authUser-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open authUser menu</span>
                <a href="/logout">
                  <img class="w-8 h-8 rounded-full" src="/images/png/auth-in-the-gator-favicon-white.png" alt="authUser photo">
                </a>
              </button>
<!--              <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="authUser-dropdown">-->
<!--                <ul class="py-2" aria-labelledby="authUser-menu-button">-->
<!--                  <li>-->
<!--                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
            </div>
        </div>
    </nav>
</div>
</body>
</html>