<!DOCTYPE html>
<html lang="en" th:fragment="layout(head, main)"
      xmlns:th="http://www.thymeleaf.org">
<head id="head" th:replace="${head}"></head>
<body class=" text-white" style="background: #293040;">
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<div class="flex">
    <aside th:replace="~{fragments/menu :: menu}"></aside>
    <main id="main" th:replace="${main}">
    </main>
</div>
<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>